*{
    margin: 5px;
}

.mainlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20%;
}

.material-icons.md-24 {
    font-size: 24px; 
    color: rgb(97, 97, 97);
    margin: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .mainlist {
        display: flex;
        flex-direction: column;
        align-items: center;    }
}

